.btnLogBookNow{
    color: white !important;
    width: 100%;
    background: rgba(255, 255, 255,.2) !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5) !important;
    /* margin: 0 !important; */
    height: 100% !important;
    padding: 0 36px!important;
    font-size: 23px !important;
    /* line-height: 46px !important; */
    border: 1px solid white !important;
    border-radius: 0% !important;
    font-weight: lighter !important;
    margin-top: 15% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
}

.booknow-box{
    position: absolute;
    left: 77%;
    top: 30% !important;
    background: rgba(255, 255, 255,.2) !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5) !important;
    text-align: center !important;
}

.booknow-box>h1{
 color: white;
 margin-top: 8%;
}

.booknow-box>h4{
 color: rgb(255, 242, 242);
 font-size: 1em;
 margin-top: 8%;
 font-weight: lighter;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .booknow-box{
        display: none !important;
    }
}