.TwoPicDiv-main{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    margin: 10% 0;
}
.TwoPicDiv-img{
    /* border: 1px solid red !important; */
    border-radius: 2%;
    /* width: 35%; */
}


.image {
    position: relative;
    width: 35%;
    border-radius: 2%;
    /* border: 1px solid red !important; */
}

.image__img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family:  sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 2%;
}

/* .image__overlay--blur {
    backdrop-filter: blur(5px);
} */

/* .image__overlay--primary {
    background: #009578;
} */

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    line-height: 50px;
    padding-bottom: 5%;
    /* border: 2px solid; */
    border-bottom: 3px solid rgb(240, 240, 240);
    /* border-radius: 2%; */
    margin-left: 4%;
    margin-right: 4%;
}

/* .image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
} */