/* .header-container{ */
    /* border: 2px solid green ; */
    /* width: 180% !important; */
    /* display: flex !important;
    flex-direction: row !important;
    justify-self: space-evenly !important; */
/* } */
.header-navbar{
    /* border: 2px solid red ; */
    /* margin: 0 !important; */
    /* display: flex !important;
    flex-direction: row !important; */
    /* justify-content: space-around !important; */
    height: 8em !important;
}

.header-container-img{
    /* border: 2px solid blue ; */
    width: 40% !important;
    margin-right: 20%;
    margin-left: 5%;

}

.header-link{
    font-weight: 600;
    padding-top: 15%;   
    padding-bottom: 15%;
    /* align-items: center !important; */
    border-radius: 5%;
    /* margin-right: 5% !important; */

    /* padding: 10% 0 10% 0 !important; */
}
.header-link:hover{
    background: #7EC23E;
    color: white !important;
    /* padding-top: 10%; */
    /* padding-bottom: 10%; */
    /* align-self: center; */
    /* margin: 10% 0% 10% 0% */
}


.header-dropdown{
    /* font-size: 10px !important; */
    /* border: 1px solid aqua; */
}

.header-dropdown:hover{
    /* background: #7EC23E;
    color: white !important; */
}

#basic-nav-dropdown:hover{
    background: #7EC23E;
    color: white !important;
}
#basic-nav-dropdown{
    /* background: #7EC23E;
    color: white !important; */
        padding-top: 0%;   
    /* padding-bottom: 8%; */
}

#basic-navbar-nav{
    /* border: 1px solid; */
    /* margin: auto auto; */
    /* margin-right: 5%; */
    /* margin: 0% 20% 0% 10% !important; */
    /* padding-top: 2%;
    padding-bottom: 2%; */
}

#header-nested-dropdown{
    text-align: left !important;
    /* margin-left: 10%; */
    /* align-self: left !important; */
    /* border: 1px solid red; */
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .header-link{
        padding-top: 2%;
        padding-bottom: 2%;

    }
    #basic-nav-dropdown{
        padding: 0%;
    }
}