.containerAs{
    /* margin-top: 5%; */
    /* display: inline-block; */
    /* border: 1px solid grey; */
    /* width: 50%; */
    
}

.silder{
    /* padding: 0 !important; */
    /* border: 1px solid blue; */
    /* width: 10% !important; */
    /* margin-left: 5% !important;
    margin-right: 5% !important; */
    /* height: 2em !important; */
 }



.Asilder{
    /* width: 100% !important; */
/* margin-left: -90px !important; */
    /* margin-right: -30em !important; */
    /* border: 10px solid red !important; */
}

.AfterBeforeSliderHeading{
    margin-top: 4%;
    margin-bottom: 5%;
    /* margin-left: -50%; */
    /* margin-right: -50%; */
    text-align: center;
    font-family:Verdana;
}
.AfterBeforeSliderHeading>h5{
    font-size: 30px;
    margin-bottom: 2%;
}
.AfterBeforeSliderHeading>h1{
    /* font-size: 29px; */
    font-weight:900;
    color: #7EC23E;
}

.AfterBeforeSliderImage{
    width: 100%;
    height: 23em;
    /* margin-left: 4% !important; */
    /* margin-right: -180% !important; */
    /* border: 1px solid red !important; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-around !important; */
    /* margin: 0; */
    /* padding: 0; */
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
    .silder{
        width: 360px !important;
        /* margin-left: 22%; */
        /* height: "0em" ; */
        /* border: 1px solid green; */
        /* position:r; */
        /* display: inline-block; */
    }
    /* .Asilder{ */
         /* border: 1px solid aqua; */
         /* width: 100% !important; */
         /* margin-right: 50px !important; */
         /* margin-left: 20%; */
         /* text-align: center !important;
         align-items: center !important;
         align-self: center !important; */
    /* } */
    .containerAs{
         /* border: 1px solid rgb(110, 109, 109); */
         /* width: 300% !important; */
         /* margin-left: -5%; */
         /* position:relative; */
         /* left:-22%; */

    }
    .cardSli{
        /* border: 1px solid rgb(110, 109, 109); */
        width: 95%;
        /* margin-left: 12% !important; */
        /* margin-right: 12% !important; */
    }
    .cardSli-M{
        /* border: 1px solid rgb(138, 19, 19); */
    }
}